<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.emstrack.ambulance">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AmbulanceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme">


        <activity android:name="org.emstrack.ambulance.LoginActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.emstrack.ambulance.AmbulanceListActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <activity android:name="org.emstrack.ambulance.MainActivity"
            android:parentActivityName=".AmbulanceListActivity"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AmbulanceListActivity" />
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <service android:name=".services.AmbulanceForegroundService"/>

        <!--
        <receiver android:name=".services.AmbulanceForegroundService$LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-locationFilter>
                <action android:name=".AmbulanceForegroundService.BroadcastActions.LOCATION_UPDATE" />
            </intent-locationFilter>
        </receiver>
        -->


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
             The API key for Google Maps-based APIs.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>