<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.emstrack.hospital">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".HospitalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">

        <activity android:name="org.emstrack.hospital.LoginActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.emstrack.hospital.HospitalListActivity"
            android:screenOrientation="nosensor">
        </activity>

        <activity android:name="org.emstrack.hospital.DashboardActivity"
            android:screenOrientation="nosensor">
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService"/>
    </application>

</manifest>